body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
    background-color: #ffffff;
}

.container {
    max-width: 1000px;
    display: flex;
    margin: 0 auto;
    padding: 20px;
    background-color: #fefefe;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
    color: #333;
}

h3 {
    padding-left: 170px;
}

img {
    width: 500px;
    border: 2px solid rgb(61, 61, 61);
    border-radius: 10px;
}

.info-cat {
    max-width: 500px;
}

.info-cat p {
    padding-left: 15px;
    padding-right: 15px;
}



.breed-select {
    cursor: pointer;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 10px;
    font-size: 18px;
    color: #333;
    border: 1px solid #686767;
    border-radius: 4px;
}

.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin-left: 60px;
    position: relative;
    color: #ec3511;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
}

@keyframes animloader {
    0% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }

    25% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
    }

    50% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
    }

    75% {
        box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }

    100% {
        box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
    }
}